@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center display-4 font-weight-bold">Tests de Salud Mental</h1>
    <br />
    <p class="text-center">Aprende más sobre tu bienestar emocional</p>
    <br />
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div class="col">
            <div class="card">
                <img src="https://www.zeropsicologos.com/blog/wp-content/uploads/2021/08/tipos-psicologos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Agenda tu Cita</h5>
                    <p class="card-text">Programa una consulta con nuestros especialistas en salud mental. 
                        Escoge la fecha y hora que mejor se adapte a ti y recibe el apoyo que necesitas. Estamos aquí para ayudarte a mejorar tu bienestar. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://tuespacio247.com/wp-content/uploads/2022/11/que-es-la-psicologia-e1669053254639.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Test Disponibles</h5>
                    <p class="card-text">Accede a una variedad de tests de salud mental diseñados por expertos. 
                        Evalúa tu bienestar emocional y recibe recomendaciones personalizadas para mejorar tu salud mental.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://medicoplus.com/_next/image?url=https%3A%2F%2Fplustatic.com%2F6565%2Fconversions%2Fpor-que-estudiar-psicologia-large.jpg&w=1280&q=75" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Conoce a Nuestros Especialistas</h5>
                    <p class="card-text"> Descubre el equipo de profesionales de salud mental disponibles para ayudarte. 
                        Lee sus perfiles y encuentra al especialista adecuado para tus necesidades.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://hazrevista.org/wp-content/uploads/2020/04/apoyo-psicologico-coronavirus-empresas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Línea de Apoyo</h5>
                    <p class="card-text">Habla con un profesional a través de nuestra línea de apoyo. 
                        Recibe orientación y asistencia inmediata para tus inquietudes de salud mental en cualquier momento.</p>
                </div>
            </div>
        </div>
    </div>
</div>
