@{
    ViewData["Title"] = "Politica de Privacidad";
}
<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p>La presente página describe nuestra política de privacidad en relación con el manejo de datos personales de acuerdo con la ley peruana.</p>
    <p>Como parte de nuestro proyecto de test, nos comprometemos a:</p>
    <ul>
        <li>Proteger los datos personales de los usuarios y garantizar su confidencialidad.</li>
        <li>Utilizar la información recopilada únicamente con fines relacionados con las pruebas y análisis de salud mental.</li>
        <li>No compartir ni vender datos personales a terceros sin el consentimiento explícito del usuario.</li>
        <li>Implementar medidas de seguridad para prevenir el acceso no autorizado a la información.</li>
    </ul>
    <p>Para obtener más detalles sobre cómo manejamos los datos personales, consulte nuestra política completa de privacidad.</p>
</div>