@model Proyecto.Models.ViewModels.TestDetailVM
@{
    ViewData["Title"] = "Detalle Test Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>Detalle Test </h2>
            </div>
            <div class="card-body">
                <form asp-controller="TestDetails" asp-action="Details" method="post">
                    <input type="hidden" asp-for="TestDetail.TestDetailId" />
                    <div class="row mb-2 border-bottom">
                        <div class="col-4 text-end fw-bold">Test</div>
                        <div class ="col-8">@Model.TestDetail.Test.NombreTest</div>
                    </div>
                    <div class="row mb-2 border-bottom">
                        <div class="col-4 text-end fw-bold">Resultado</div>
                        <div class="col-8">@Model.TestDetail.Resultado</div>
                    </div>
                    <div class="row mb-2 border-bottom">
                        <div class="col-4 text-end fw-bold">Fecha</div>
                        <div class="col-8">@Model.TestDetail.FechaRealizacion</div>
                    </div>
                    <div class="d-grid column-gap-2 d-md-block offset-0 offset-md-3 offset-lg-4">
                        <a asp-controller="TestDetails" asp-action="Index" class="btn btn-primary">
                            <i class="bi bi-arrow-return-left"></i>&nbsp;Regresar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>Resultado del Test</h2>
            </div>
            <div class="card-body">
                <div id="mensajeResultado" class="mt-3 text-center"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const resultado = @Model.TestDetail.Resultado;
            const mensajeResultado = document.getElementById('mensajeResultado');

            let mensaje;
            if (resultado <= 4) {
                mensaje = 'Bajo: Usted muestra un bajo nivel en esta área. No parece ser un problema significativo en su vida diaria.';
            } else if (resultado <= 10) {
                mensaje = 'Moderado: Usted muestra un nivel moderado en esta área. Es posible que ocasionalmente experimente desafíos, pero generalmente puede manejarlos.';
            } else {
                mensaje = 'Alto: Usted muestra un alto nivel en esta área. Podría ser beneficioso considerar estrategias para gestionar este aspecto de su vida.';
            }

            mensajeResultado.innerText = mensaje;
        });
    </script>
}


